@page
@model IndexModel
@{
    ViewData["Title"] = "Dreamer Hearth";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Dreamer Hearth fantasy page!</h1>
</div>

<div>
    <p>
        You can use the following users to login:
        <ul>
            <li>player@player.com</li>
            <li>gamemaster@gamemaster.com</li>
            <li>admin@admin.com</li>
        </ul>
        The passwords for all 3 accounts: <b>Admin123*</b>
        </br></>Or register your own!
    </p>
</div>
