@page
@model DHCardHelper.Areas.GameMaster.Pages.Cards.Background.AddModel

<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="card-header text-center bg-light m-lg-0">
            <h1>Add Heritage</h1>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row gy-3 mx-lg-3 my-lg-3">
                    <div class="col-12 col-lg-3">
                        <div class="form-floating">
                            <select asp-for="BackgroundViewModel.BackgroundCardDto.BackgroundTypeId" asp-items="Model.BackgroundViewModel.HeritageTypes" class="form-select"></select>
                            <label>Heritage Type</label>
                            <span asp-validation-for="BackgroundViewModel.BackgroundCardDto.BackgroundTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="form-floating">
                            <input asp-for="BackgroundViewModel.BackgroundCardDto.Title" class="form-control" />
                            <label asp-for="BackgroundViewModel.BackgroundCardDto.Title"></label>
                            <span asp-validation-for="BackgroundViewModel.BackgroundCardDto.Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mx-lg-3 my-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea asp-for="BackgroundViewModel.BackgroundCardDto.Feature" class="form-control" style="height:200px"></textarea>
                            <label asp-for="BackgroundViewModel.BackgroundCardDto.Feature"></label>
                            <span asp-validation-for="BackgroundViewModel.BackgroundCardDto.Feature" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mx-lg-3 my-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea asp-for="BackgroundViewModel.BackgroundCardDto.Desciption" class="form-control" style="height:200px"></textarea>
                            <label asp-for="BackgroundViewModel.BackgroundCardDto.Desciption"></label>
                            <span asp-validation-for="BackgroundViewModel.BackgroundCardDto.Desciption" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-3 mx-lg-3 my-lg-3">
                    <div class="col-0 col-md-10"></div>
                    <div class="col-12 col-md-2 text-end">
                        <button class="btn btn-dark btn-sm w-100" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
