@page "{id:int?}"
@model DHCardHelper.Areas.GameMaster.Pages.Cards.Domain.EditModel

<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="card-header text-center bg-light m-lg-0">
            <h1>Edit Domain</h1>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row gy-3 mx-lg-3 my-lg-3">
                    <div class="col-12 col-lg-3">
                        <div class="form-floating">
                            <select asp-for="DomainViewModel.DomainCardDto.DomainId" asp-items="Model.DomainViewModel.AvailableDomains" class="form-select"></select>
                            <label asp-for="DomainViewModel.DomainCardDto.DomainId">Domain</label>
                            <span asp-validation-for="DomainViewModel.DomainCardDto.DomainId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="form-floating">
                            <select asp-for="DomainViewModel.DomainCardDto.TypeId" asp-items="Model.DomainViewModel.AvailableTypes" class="form-select"></select>
                            <label asp-for="DomainViewModel.DomainCardDto.TypeId">Type</label>
                            <span asp-validation-for="DomainViewModel.DomainCardDto.TypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="form-floating">
                            <input asp-for="DomainViewModel.DomainCardDto.Level" class="form-control" />
                            <label asp-for="DomainViewModel.DomainCardDto.Level"></label>
                            <span asp-validation-for="DomainViewModel.DomainCardDto.Level" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="form-floating">
                            <input asp-for="DomainViewModel.DomainCardDto.RecallCost" class="form-control" />
                            <label asp-for="DomainViewModel.DomainCardDto.RecallCost"></label>
                            <span asp-validation-for="DomainViewModel.DomainCardDto.RecallCost" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mx-lg-3 my-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <input asp-for="DomainViewModel.DomainCardDto.Title" class="form-control" />
                            <label asp-for="DomainViewModel.DomainCardDto.Title"></label>
                            <span asp-validation-for="DomainViewModel.DomainCardDto.Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mx-lg-3 my-3">
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea asp-for="DomainViewModel.DomainCardDto.Feature" class="form-control" style="height:200px"></textarea>
                            <label asp-for="DomainViewModel.DomainCardDto.Feature"></label>
                            <span asp-validation-for="DomainViewModel.DomainCardDto.Feature" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row gy-3 mx-lg-3 my-lg-3">
                    <div class="col-0 col-md-10"></div>
                    <div class="col-12 col-md-2 text-end">
                        <button class="btn btn-dark btn-sm w-100" type="submit">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

